*.cast
*.rpcast/
2048_debug
2048_debug.dSYM/
TAGS
# But allow our backup
!2048-cli-src-backup.tar.gz
# Ignore generated text report
experiments/README.txt
# Ignore generated README.md (created from README.org)
README.md